* {
    margin: 0;
    padding: 0;
}

H1,
H2,
H3,
H4,
H5,
H6 {
    margin-bottom: -15px;
    margin-left: 10px;
}

p {
    font-size: 16px;
    color: gray;
}

table {
    border-collapse: collapse;
}

tr {
    width: auto;
}

td {
    border: 1px solid #880303;
    width: auto;
    height: 20px;
    width: 20px;
    padding: 5px;
}

#total_price {
    font: 12pt/10pt sans-serif;
    margin-top: 20px;
}